﻿@inherits UmbracoViewPage<EnjoyDigitalUniversity.ViewModels.CourseListingViewModel>
@{
  Layout = "Master.cshtml";  
}

<div class="umb-grid">
  <div class="grid-section">
    <div class="light">
      <div class="container">
        @using (Html.BeginUmbracoForm("Listing", "CourseViewModel", null, new { @class = "js-ajax-form", data_holder = "form-output" }, FormMethod.Post))
        {
          <input type="submit" value="Search" />
        }
        <div class="form-output">
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts{
  <script src="/scripts/forms.js"></script>
}